#area {
  width: 480px;
  height: 320px;
  border: 1px solid #DDD;
/*  background-color: #FFF;*/
}
#banco_tracks {
  height: 300px;
}
.track {
  display: flex;
  margin-top: 4px;
}
.track_control {
}
.track_control_wave {
  flex: 1;
}
