tone-oscilloscope, tone-fft {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 6px;
}

.mute {
  background-color: #EEE;
  color: #CCC;
}

.mute .track_label {
  color: #666;
}

.mute tone-oscilloscope, .mute tone-fft {
  background-color: #CCC;
}

.banco_playall {
  background-image: url('../images/icons/green/304280-media/svg/stop.svg');
}

.banco_playall.stopped {
  background-image: url('../images/icons/green/304280-media/svg/play.svg');
}

