/*
 * https://coolors.co/e1ce7a-fbffb9-fdd692-ec7357-754f44
 * */
body {
  font-family: monospace;
}

a.current {
  text-decoration: none;
}

#file_tree_wrapper {
  display: none;
}
#channels .active{
  background-color: #FBFFB9;
}

#grid {
  display: flex;
}
#grid .grid {
  flex-grow: 1;
  margin: 5px;
  width: 20px;
  height: 20px;
  border-size: 2px;
  border-style: solid;
  border-color: #CFF09E;
  border-radius: 1px;
  background-color: #FFF;
}
#grid .grid.active{
  background-color: #CFF09E;
}
#grid .grid.quarter{
  background-color: #507C5C;
  border-color: #507C5C;
}
